{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-dark text-white text-center">
                <h4 class="mb-0">Yeni Kullanıcı Ekle</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Kullanıcı Adı</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Şifre *</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="role" class="form-label">Kullanıcı Rolü</label>
                        <select class="form-select" id="role" name="role" required>
                            <option value="">Bir rol seç</option>
                            <option value="admin">Admin</option>
                            <option value="user">Kullanıcı</option>
                        </select>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{{ url_for('admin_panel') }}" class="btn btn-secondary me-md-2">İptal</a>
                        <button type="submit" class="bg-dark text-white text-center btn-dark">Kullanıcıyı Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}